footer {
    background-color: $color-black;
    padding: 45px 0 20px 0;
    text-align: center;

    .footer-legals {
        color: $color-white;
        font-size: $font-size-larger;
        margin-top: 20px;
    }
}
