// COLORS //
$color-black: #000000;
$color-grey: #F6F6F6;
$color-white: #FFFFFF;
$color-pink: #FF6060;

// FONT SIZE //
$font-size-smaller: 0.8rem;
$font-size-medium: 1rem;
$font-size-large: 1.1rem;
$font-size-larger: 1.5rem;
$font-size-2x: 2rem;
$font-size-4x: 4rem;
